<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{.title}}</title>
  </head>

  <body>
    <h1>{{.title}}</h1>
    <p>The client with ID {{.app_id}} would like to perform actions on your behalf.</p>
    <p>It requires access to your {{.scope}}</p>
    <form id="allow" method="POST" action="{{.auth_url}}">
      <br><br>    
      <input type="submit" name="log" id="log" value="Allow">
      <br><br> 
    </form>
    <form id="deny" method="GET" action="{{.login_url}}">
      <br><br>    
      <input type="submit" name="log" id="log" value="Deny">
      <br><br> 
    </form>
  </body>
</html>
